# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  -
    package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    labels:
      - dependencies
      - actions
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/detectors/aws/eks"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/detectors/aws"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/detectors/aws/ecs"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/detectors/gcp"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/exporters/metric/cortex"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/exporters/metric/cortex/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/exporters/metric/cortex/utils"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/exporters/metric/datadog"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/exporters/metric/dogstatsd"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/astaxie/beego/otelbeego"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/astaxie/beego/otelbeego/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  - package-ecosystem: "gomod"
      directory: "/instrumentation/github.com/aws/aws-sdk-go-v2/otelaws"
      labels:
        - dependencies
        - go
        - "Skip Changelog"
      schedule:
        interval: "weekly"
        day: "sunday"
        - package-ecosystem: "gomod"
          directory: "/instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/example"
          labels:
            - dependencies
            - go
            - "Skip Changelog"
          schedule:
            interval: "weekly"
            day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/bradfitz/gomemcache/memcache/otelmemcache"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/bradfitz/gomemcache/memcache/otelmemcache/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/emicklei/go-restful/otelrestful"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/emicklei/go-restful/otelrestful/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gin-gonic/gin/otelgin"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gin-gonic/gin/otelgin/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gocql/gocql/otelgocql"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gocql/gocql/otelgocql/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gorilla/mux/otelmux"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/gorilla/mux/otelmux/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/labstack/echo/otelecho"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/labstack/echo/otelecho/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/Shopify/sarama/otelsarama"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/Shopify/sarama/otelsarama/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/google.golang.org/grpc/otelgrpc"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/google.golang.org/grpc/otelgrpc/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/gopkg.in/macaron.v1/otelmacaron"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/gopkg.in/macaron.v1/otelmacaron/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/host"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/host/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/net/http/otelhttp"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/net/http/otelhttp/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/net/http/httptrace/otelhttptrace"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/net/http/httptrace/otelhttptrace/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/runtime"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/runtime/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/propagators"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/propagators/aws"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/propagators/opencensus"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/propagators/opencensus/examples"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  - package-ecosystem: "gomod"
    directory: "/tools"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/go-kit/kit/otelkit"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
  -
    package-ecosystem: "gomod"
    directory: "/instrumentation/github.com/go-kit/kit/otelkit/example"
    labels:
      - dependencies
      - go
      - "Skip Changelog"
    schedule:
      interval: "weekly"
      day: "sunday"
