.DS_Store
Thumbs.db

.cache/
.tools/
venv/
.idea/
.vscode/
*.iml
*.so
*.exe
coverage.*
go.work
go.work.sum

examples/dice/instrumented/instrumented
examples/dice/uninstrumented/uninstrumented
examples/namedtracer/namedtracer
examples/otel-collector/otel-collector
examples/opencensus/opencensus
examples/passthrough/passthrough
examples/prometheus/prometheus
examples/zipkin/zipkin

instrumentation/google.golang.org/grpc/otelgrpc/example/server/server
instrumentation/google.golang.org/grpc/otelgrpc/example/client/client

tmp
