.DS_Store
Thumbs.db

.tools/
.idea/
.vscode/
*.iml
*.so
coverage.*

instrumentation/github.com/gocql/gocql/example/example
instrumentation/google.golang.org/grpc/example/server/server
instrumentation/google.golang.org/grpc/example/client/client