#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md#member
#
# Learn about Code Owners policy in OpenTelemetry Go Contrib:
#  https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/CONTRIBUTING.md#code-owners
#
#
# Learn about CODEOWNERS file format:
# https://help.github.com/en/articles/about-code-owners
#
# NOTE: Lines should be entered in the following format:
# <component_path_relative_from_project_root>/<min_1_space><owner_1><space><owner_2><space>..<owner_n>
# instrumentation/net/http/otelhttp/         @open-telemetry/collector-go-approvers @madvikinggod @mralias
# Path separator and minimum of 1 space between component path and owners is
# important for validation steps
#

* @open-telemetry/go-approvers

CODEOWNERS @MrAlias @pellared @dashpole @XSAM @dmathieu

bridges/otelslog                                                        @open-telemetry/go-approvers @MrAlias @pellared
bridges/otellogrus/                                                     @open-telemetry/go-approvers @dmathieu @pellared
bridges/prometheus/                                                     @open-telemetry/go-approvers @dashpole
bridges/otelzap/                                                        @open-telemetry/go-approvers @pellared @khushijain21
bridges/otellogr/                                                       @open-telemetry/go-approvers @scorpionknifes @pellared

config/                                                                 @open-telemetry/go-approvers @pellared @codeboten

detectors/aws/ec2                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/ecs                                                       @open-telemetry/go-approvers @pyohannes @akats7
detectors/aws/eks                                                       @open-telemetry/go-approvers @pyohannes
detectors/aws/lambda                                                    @open-telemetry/go-approvers @akats7
detectors/azure/                                                        @open-telemetry/go-approvers @pyohannes
detectors/gcp/                                                          @open-telemetry/go-approvers @dashpole

exporters/autoexport                                                    @open-telemetry/go-approvers @MikeGoldsmith @pellared

instrumentation/github.com/aws/aws-lambda-go/otellambda/                @open-telemetry/go-approvers @akats7
instrumentation/github.com/aws/aws-sdk-go-v2/otelaws/                   @open-telemetry/go-approvers @akats7
instrumentation/github.com/emicklei/go-restful/otelrestful/             @open-telemetry/go-approvers @dashpole
instrumentation/github.com/gin-gonic/gin/otelgin/                       @open-telemetry/go-approvers @akats7
instrumentation/github.com/gorilla/mux/otelmux/                         @open-telemetry/go-approvers @akats7
instrumentation/github.com/labstack/echo/otelecho/                      @open-telemetry/go-approvers @scorpionknifes
instrumentation/go.mongodb.org/mongo-driver/mongo/otelmongo/            @open-telemetry/go-approvers
instrumentation/google.golang.org/grpc/otelgrpc/                        @open-telemetry/go-approvers @dashpole

instrumentation/host/                                                   @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/httptrace/otelhttptrace/                       @open-telemetry/go-approvers @dmathieu
instrumentation/net/http/otelhttp/                                      @open-telemetry/go-approvers @dmathieu
instrumentation/runtime/                                                @open-telemetry/go-approvers @dmathieu @dashpole

processors/baggagecopy                                                  @open-telemetry/go-approvers @codeboten @MikeGoldsmith
processors/minsev                                                       @open-telemetry/go-approvers @MrAlias

propagators/autoprop/                                                   @open-telemetry/go-approvers @MrAlias
propagators/aws/                                                        @open-telemetry/go-approvers @akats7
propagators/b3/                                                         @open-telemetry/go-approvers @pellared
propagators/jaeger/                                                     @open-telemetry/go-approvers @yurishkuro
propagators/opencensus/                                                 @open-telemetry/go-approvers @dashpole
propagators/ot/                                                         @open-telemetry/go-approvers @pellared

samplers/jaegerremote/                                                  @open-telemetry/go-approvers @yurishkuro
samplers/probability/consistent/                                        @open-telemetry/go-approvers

zpages/                                                                 @open-telemetry/go-approvers @dashpole
